@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;300;400;500;700;900&display=swap');


@font-face {
    font-family: 'RobotoCondensed';
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    padding: 0 5px;
    margin: 0 auto;
}

.header {
    position: relative;
    padding: 40px 0 60px;
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.header__logo-link {
    margin-bottom: 10px;
}

.header__logo-text {
    font-family: 'RobotoMedium';
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
}

.header__subtitle {
    font-family: 'RobotoBlack';
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
    margin-bottom: 20px;
    text-align: center;
}
.header__title {
    font-family: 'RobotoBlack';
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.header__title::before,
.header__title::after {
    content: "";
    display: block;
    width: 292px;
    height: 2px;
    background: #FFFFFF;
    position: absolute;
}

.header__title::before {
    top: 50%;
    left: -60%;
}

.header__title::after {
    top: 50%;
    right: -60%;
}

.header__text {
    font-family: 'RobotoLight';
    text-align: center;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.header__text span {
    font-family: 'RobotoBold';
    font-size: 21px;
    line-height: 28px;
    color: #F9BF3B;
}

.center {
    width: 285px;
    height: 72px;
    /* position: absolute; */
    margin-bottom: 90px;
}

.btn {
    position: absolute;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 24px 15px;
    max-width: 285px;
    max-height: 72px;
    outline: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 255 714;
    stroke-dashoffset: 255;
    transition: all 1s ease-in-out;
}

.btn:hover {
    transition: all 1s ease-in-out;
    background: linear-gradient(0deg, #2798B9 50%, #166d86 100%);
}

.btn:hover svg {
    stroke-dashoffset: -714;
}

.btn span {
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
} 

.header__descr-arrow {
    font-family: 'RobotoThin';
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.waiting { 
    padding: 90px 0 75px;
    background-color: rgba(239, 239, 239, 1);
}

.title {
    font-family: 'RobotoRegular';
    font-size: 30px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: 20px;
}

.title::after {
    content: "";
    display: block;
    width: 217px;
    height: 4px;
    background: #F9BF3B;
    margin: 20px auto 0;
}

.waiting__descr {
    font-family: 'RobotoRegular';
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-bottom: 45px;
}
.waiting__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.waiting__item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.waiting__item + .waiting__item {
    margin-left: 48px;
}

.waiting__item-img {
    margin-bottom: 26px;
}
.waiting__item-descr {
    font-family: 'RobotoLight';
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #4A4A4A;
}

.optimisation {
    min-height: 549px;
}

.optimisation__wrapper {
    display: flex;
    position: relative;
}
.optimization__img {
    display: block;
    position: absolute;
    top: 47px; 
    right: 40%;
    opacity: 1;
}
.optimisation__content {
    position: absolute;
    opacity: 10;
    left: 425px;
    top: 110px;
    max-width: 773px;
}
.optimisation__title {
    font-family: 'RobotoBlack';
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
}
.optimisation__content-text {
    margin-top: 10px;
    max-width: 770px;
}
.optimisation__text {
    font-family: 'RobotoLight';
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimisation__text + .optimisation__text {
    margin-top: 15px;
}

.t--black {
    font-family: 'RobotoBold';
}

.experience {
    background: url('../img/bg/finish_bg.png') center center/cover no-repeat;
    padding-top: 86px;
    padding-bottom: 69px;
}

.title--white {
    color: #fff;
}

.experience__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.experience__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 234px;
}

.experience__item + .experience__item {
    margin-left: 10px;
}

.experience__item-icon {
    width: 118px;
    height: 118px;
    background-color: rgba(180, 226, 255, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience__descr {
    font-family: 'RobotoLight';
    margin-top: 25px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}

.gift {
    padding: 88px 0 0;
    background-color: rgba(239, 239, 239, 1);
}
.gift__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift__descr {
    font-family: 'RobotoRegular';
    max-width: 1160px;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
    margin: 45px 0 51px;
}

.mb--none {
    margin-bottom: 0;
}

.webinar {
    padding: 89px 0 52px;
}

.webinar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webinar__text {
    font-family: 'RobotoRegular';
    margin-top: 36px;
    font-size: 30px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.webinar__start {
    font-family: 'RobotoBlack';
    margin-top: 30px;
    font-size: 36px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}

.webinar__descr {
    font-family: 'RobotoRegular';
    margin-top: 25px;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}

.footer {
    padding: 57px 0 69px;
    background-color: rgba(26, 26, 26, 1);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__support,
.footer__policy,
.footer__phone {
    font-family: 'RobotoLight';
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #888888;
}

.footer__support::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}

.footer__phone {
    margin-top: 5px;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .header__title::before,
    .header__title::after {
        display: none;
    }
    .header__subtitle {
        font-size: 35px;
    }
    .header__title {
        font-size: 66px;
    }
    .optimisation__content {
        left: 325px;
    }
    .experience__wrapper {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }
    .experience__item + .experience__item {
    margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .waiting__inner {
        flex-direction: column;
        align-items: center;
    }
    .waiting__item {
        max-width: 100%;
    }
    .waiting__inner .waiting__item + .waiting__item {
        margin-top: 50px;
    }
    .waiting__item-img {
        margin-bottom: 20px;
    }
    .waiting__item-descr {
        font-size: 18px;
    }
    .waiting__item + .waiting__item {
    margin-left: 0;
    }
    .optimisation__content {
        left: 225px;
        top: 30px;
    }

    .experience__wrapper {
        justify-content: center;
    }

    .experience__item {
        flex-direction: row;
        max-width: 100%;
    }
    .experience__descr {
        margin-left: 25px;
        margin-top: 0;
        max-width: 234px;
    }
    
}

@media screen and (max-width: 567px) {
    .header__subtitle {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .header__title {
        font-size: 52px;
        margin-bottom: 10px;
    }
    .optimization__img {
        display: none;
    }
    .optimisation__content {
        left: 0;
        right: 0;
        top: 30px;
        max-width: 100%;
    }
    .optimisation__title {
        font-size: 25px;
    }
    .optimisation__text + .optimisation__text {
        margin-top: 10px;
    }
    .experience__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .experience__item + .experience__item {
        margin-top: 30px;
    }
    .gift__descr {
        font-size: 25px;
        line-height: 40px;
        margin: 40px 0 40px;
    }
    .footer__support::after {
        display: none;
    }
    .footer__support {
        display: block;
    }
}
@media screen and (max-width: 459px)  {
    .optimisation {
            min-height: 700px;
        }
}

@media screen and (max-width: 396px) {
    .experience__item {
        flex-direction: column;
        max-width: 100%;
    }
    .experience__descr {
        margin-left: 0;
        margin-top: 25px;
    }
}

@media screen and (max-width: 344px) {
    .btn {
        font-size: 18px;
        margin-bottom: 70px;
    }
    
}